<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    @keyframes move {
        from {
            left: 0%;
        }
        to {
            left: 50%;
        }
    }

    h1 {
        position: relative;
        animation-name: move;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
</style>
<body>
    <h1>Welcome</h1>
    
</body>
</html>