<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{{ url_for('static', filename='currency.js') }}"></script>
</head>
<body>
    <form id="form">
        <input id="currency" type="text" autocomplete="off" autofocus placeholder="curreny">
        <input type="submit" value="Get Exchange Rate">
    </form>
    <br>
    <div id="result"></div>
</body>
</html>