<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script>
        const template = Handlebars.compile("<li>You rolled a {{ value }}</li>");
        document.addEventListener('DOMContentLoaded', () =>{
            document.querySelector('#roll').oncllick = () =>{

                // Generate a random number 
                const roll = Math.floor((Math.random() * 6) + 1);
                // Add roll result to DOM
                const content = template({'value': roll});
                document.querySelector('#rolls').innerHTML += content;
            };
        });
    </script>
</head>
<body>
    <button id="roll">roll</button>
    <ul class="rolls"></ul>
    
</body>
</html>