<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice</title>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#roll').onclick = () => {
                const li = document.createElement('li');
                li.innerHTML = roller();
                document.querySelector('#rolled').append(li);
            };
        });
        function roller () {
            var number = Math.ceil(Math.random(6) * 10) + 1;
            var con = `you have rolled ${number}`;
            
            return con;
        }
    </script>
</head>
<body>
    <div class="dice">
        <button id="roll">dice</button>
        <ul id="rolled"></ul>
    </div>
    
</body>
</html>