<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul id="nav">
        <li><a href="{{ url_for('index') }}">First Page</a></li>
        <li><a href="{{ url_for('second') }}">Second Page</a></li>
        <li><a href="{{ url_for('third') }}">Third Page</a></li>
    </ul>
    <hr>
    {% block body %}
    {% endblock %}
</body>
</html>